<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<section class="latest">
		<h2>Latest</h2>
			<article>
				<img src="images/car1.jpg" alt="Car 1">
				<time datetime="2014-11-20">November 20, 2014</time>
				<h3>Lorem ipsum Dolor Sit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum</p>
				<a href="#" class="blog-button">Read More</a>
			</article>

			<article>
				<img src="images/car2.gif" alt="Car 2">
				<time datetime="2014-11-20">November 20, 2014</time>
				<h3>Lorem ipsum Dolor Sit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum</p>
				<a href="#" class="blog-button">Read More</a>
			</article>

			<article>
				<img src="images/car3.jpeg" alt="Car 3">
				<time datetime="2014-11-20">November 20, 2014</time>
				<h3>Lorem ipsum Dolor Sit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="#" class="blog-button">Read More</a>
			</article>
			<p><a href="#">See All</a></p>
	</section>

	<section>
		<h2>Popular</h2>
			<article>
				<img src="images/car4.jpg" alt="Car 4">
				<time datetime="2014-11-20">November 20, 2014</time>
				<h3>Lorem ipsum Dolor Sit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum</p>
				<a href="#" class="blog-button">Read More</a>
			</article>

			<article>
				<img src="images/car5.jpg" alt="Car 5">
				<time datetime="2014-11-20">November 20, 2014</time>
				<h3>Lorem ipsum Dolor Sit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="#" class="blog-button">Read More</a>
			</article>
			<p><a href="#">See All</a></p>
	</section>

	<section class="sidebar">
			<h2>Featured</h2>
			<article>
					<time datetime="2014-11-20">November 20, 2014</time>
					<img src="images/car6.jpg" alt="Car 6">
					<h3>Lorem ipsum Dolor Sit</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
			</article>

			<article>
					<time datetime="2014-11-20">November 20, 2014</time>
					<img src="images/car7.jpg" alt="Car 7">
					<h3>Lorem ipsum Dolor Sit</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
			</article>

			<article>
					<time datetime="2014-11-20">November 20, 2014</time>
					<img src="images/car8.jpg" alt="Car 8">
					<h3>Lorem ipsum Dolor Sit</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
			</article>
			<p><a href="#">See All</a></p>

		<section>
			<h2>About</h2>
				<section>
					<h3>Lorem ipsum dolor sit amet consce ctetur</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
						in culpa qui officia deserunt mollit anim id est laborum</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
						in culpa qui officia deserunt mollit anim id est laborum</p>

					<a href="#" class="blog-button">Read More</a>
				</section>
		</section>
	</section>
</section>
	<!-- End Component -->
	
</body>
</html>