<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<div class="latest">

		<h2>LATEST</h2>
		<div class="border">
		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>


			<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

		Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>

		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>
		</div>
	</div>

	<div class="popular">
		<h2>POPULAR</h2>
	</div>


	<div class="border">
		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>


		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>

		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>
	</div>

	<aside>
		<h2>FEATURED</h2>
		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>


		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>

		<p>
			<img src="http://placehold.it/250x150/000000">
			<br/><br/>

			Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in
			placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.

			<a href="#" class="myButton">Read More</a>

		</p>

	</aside>

	<!-- End Component -->
	
</body>
</html>