/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* BLOG ======================================== */

body{
    margin-left:2%;
}

h2{
    font-weight: bold;
}

img {
    float:left;
    display:block;
    padding-bottom:1%;
    padding-right:1%;
    clear:both;
}

p{
    width:50%;
    float:left;
    display:block;
    clear:both;
}

.border p{
    border-right:1px solid black;
}

.popular{
    float:left;
    clear:both;
    margin-top:5%;
}

.popular h2{
    margin-top:30%;
    margin-bottom:10%;
}

.latest h2{
    margin-top:2%;
    margin-bottom:2%;
}

aside{
    float:left;
    padding-top:2%;
}

/* BUTTON ======================================== */

.myButton {
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial, sans-serif;
    font-size:17px;
    padding:12px 30px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
    margin-top:1%;
}
.myButton:hover {
    background-color:#FF4500;
}
.myButton:active {
    position:relative;
    top:1px;
}
