/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* BLOG ======================================== */

body{
    width:100%;
}

body, h2, p a{
    padding-left:2%;
}

img{
    max-width:350px;
    float:left;
    margin:10px;
    clear:both;
}


article p{
    margin-bottom:2%;
}

article, p a{
    max-width:70%;
    float:left;
    clear:both;
    margin:10px;
    padding-bottom:1%;
}

h2{
    font-size:1em;
    text-transform: uppercase;
    font-weight: 700;
    padding-top:1%;
    float:left;
    clear:both;
}

p{
    font-size:.85em;
}

p a{
    font-weight: 700;
}

h3{
    margin-bottom:1%;
    margin-top:1%;
    font-weight:700;
}

.about h3{
    margin-top:8%;
    color:#FF4500;
}

time, p a{
    color:#FF4500;
}

time::before{
    content:url("images/calendar.png");
    padding-right:1%;
}

.leftcolumn{
    position: relative;
    overflow: hidden;
    float: left;
    width: 60%;
}

.featured{

}

.rightcolumn{
    overflow: hidden;
    width: 100%
    clear:both;
}

.about {
    overflow:hidden;
    float:left;
    clear:both;
    width:60%;
}

.about .blog-button{
    margin-top:3%;
}

/*---BUTTON---*/

.blog-button{
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial, sans-serif;
    font-size:17px;
    padding:12px 30px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}

.blog-button:hover{
    background-color:#FF4500;
}

.blog-button:active{
    position:relative;
    top:1px;}