<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<section>
			<img src="images/link.png" alt="Consecteteur">
			<h3>Consecteteur</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>

		<section>
			<img src="images/lock.png" alt="Adlplscing">
			<h3>Adlplscing</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>

		<section>
			<img src="images/network.png" alt="Praesent">
			<h3>Praesent</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>

		<section>
			<img src="images/security.png" alt="Vestibulum">
			<h3>Vestibulum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>

		<section>
			<img src="images/tools.png" alt="Libero Nisl">
			<h3>Libero Nisl</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>

		<section>
			<img src="images/user.png" alt="Molestle">
			<h3>Molestle</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		</section>
	</section>
	<!-- End Component -->
	
</body>
</html>