<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div class="login">
		<input type="text" placeholder="Username" id="username">
		<input type="password" placeholder="Password" id="password">
		<br/>
		<input type="submit" value="Submit">
		<br/><br/>
		<a href="#" class="forgot">Forgot password?</a>
	</div>
	<div class="shadow"></div>

	<!-- End Component -->
	
</body>
</html>