<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h2><span class="control">Control</span><span class="panel">Panel</span><span class="login">Login</span></h2>
		<input type="text" placeholder="Username" id="username">
		<input type="password" placeholder="Password" id="password">
		<input type="submit" value="Submit">
		<p><a href="#" class="forgot">Forgot password?</a></p>
	</section>
	<!-- End Component -->
	
</body>
</html>

