/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* LOGIN FORM ======================================== */

section{
    background:linear-gradient(to bottom, #2f2f2f 15%, #000000 100%);
    color:#fff;
    border: 1px solid #42464b;
    border-radius: 10px;
    height: 320px;
    margin: 200px auto 0;
    width: 330px;
    text-align:center;
}

h2{
    background:#000000;
    padding-bottom:5%;
    letter-spacing: -1px;
    word-spacing: -4px;
    font-size:1.5em;
    font-family:sans-serif;
    font-weight:700;
    border-radius:10px 10px 0 0;

}

.control{
    color:#f2f2f2;
}

.panel{
    color:#d3d3d3
}

.login{
    color:#72b9db;
}

input[type="password"], input[type="text"] {
    border: 1px solid #000000;
    border-radius: 4px;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 0;
    padding-left: 18%;
    width: 200px;

}

input[type="submit"] {
    width:200px;
    height:45px;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0;
    position:relative;
    cursor:pointer;
    border: none;
    background:linear-gradient(to top, #476e9e 15%, #7892c2 100%);
    border-radius:5px;
}

.forgot {
    width:200px;
    height:35px;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    color:darkgray;
    text-decoration:none;
    text-align:center;
    padding:6px;
    margin: 29px 0 0 0;
    position:relative;
    cursor:pointer;
    border: none;
    background-color: lightgray;
    border-radius:5px;
}

.forgot:hover{
    background:blue;
    color:white;
}

p{
    margin-top:8%;
}