<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<section>
		<img src="http://placehold.it/100x100/000000">
		<h2>Address:</h2>
		<address>8500 Central, New York, Wdhri</address>
		<address>West CEO 12301</address>
	</section>

	<section>
		<img src="http://placehold.it/100x100/000000">
		<h2>Phone Number:</h2>
		<p>+14 867 00 79 41</p>
		<p>+14 867 00 79 41</p>
	</section>

	<section>
		<img src="http://placehold.it/100x100/000000">
		<h2>Email Address:</h2>
		<p>desort@your-site.com</p>
		<p>stillidea@gmail.com</p>
	</section>

	<section>
		<p>Feel free to contact us</p>
		<h3>Get in touch</h3>
		<p>Integer sollicitudin lingula non enimsodales.</p>
	</section>
</section>
	<!-- End Component -->
	
</body>
</html>