/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


/* CONTACT ======================================== */

body{
    background:lightblue;
    margin:auto;
}

section{
    margin-top:2%;
}

section section:nth-child(1), section section:nth-child(2), section section:nth-child(3){
    background:whitesmoke;
    border:1px solid black;
    width:25%;
    height:200px;
    float:left;
    margin-right:3%;
}

section section:nth-child(4){
    clear:both;
    text-align:center;
}

/*--address--*/

section section:nth-child(1){
    margin-left:10%;
}

section section:nth-child(1) img{
    padding-top:10%;
    padding-left:5%;
    float:left;
    clear:both;
}

section section:nth-child(1) h2{
    margin-top:10%;
    margin-bottom:8%;
    font-weight:700;
}

section section:nth-child(1) address{
    margin-bottom:5%;
}

/*--phone number--*/

section section:nth-child(2) img{
    padding-top:10%;
    padding-left:5%;
    float:left;
    clear:both;
}

section section:nth-child(2) h2{
    margin-top:10%;
    margin-bottom:8%;
    font-weight:700;
}

section section:nth-child(2) p{
    margin-bottom:5%;
}

/*--email--*/

section section:nth-child(3) img{
    padding-top:10%;
    padding-left:5%;
    float:left;
    clear:both;
}

section section:nth-child(3) h2{
    margin-top:10%;
    margin-bottom:8%;
    font-weight:700;
}

section section:nth-child(3) p{
    margin-bottom:5%;
}

/*--CTA text--*/

section section:nth-child(4) p:first-of-type{
    font-family:sans-serif;
    font-size:1.2em;
    text-transform:uppercase;
    padding-top:15%;
}

section section:nth-child(4) h3{
    font-family:sans-serif;
    font-weight:700;
    font-size:3em;
    text-transform:uppercase;
    padding-top:.5%;
}

section section:nth-child(4) p:last-of-type{
    padding-top:3%;
    font-style:italic;
}

/*
section:nth-child(1){
    background:lightblue;
    width:30%;
    height:200px;
    float:left;
}

section:nth-child(1) img{
    float:left;
    max-width:80%;
    margin:0 0 10px 10px;
}

section:nth-child(2){
    background:lightblue;
    display:inline-block;
    width:30%;
}

section:nth-child(3){
    background:lightblue;
    float:right;
    width:30%;
}

/*
body{
    background:url("/components/3/component.jpg");
}

.address{
    background:lightblue;
    width:30%;
    height:200px;
    margin-left:2%;
    margin-top:2%;
    display:inline-block;
}

.address img{
    float:left;
    margin-left:10%;
    margin-top:13%;
    margin-right:15%;
}


.cta h3{
    text-align:center;
    font-size:3em;
    font-weight:bold;
    margin-top:2%;
    text-transform: uppercase;
}

.cta p{
    text-align:center;
    margin-top:10%;
    text-transform: uppercase;
}
.cta p:nth-child(3){
    font-style:italic;
    margin-top:1%;
    text-transform: none;
}