<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<div class="address">
		<img src="http://placehold.it/100x100/000000">
		<br/>
		<br/>
		<br/>
		<br/>
		<h2>Address:</h2>
		<br/>
		<p>123 Sesame St.</p>
		<p>Charlotte, NC 28214</p>
	</div>

	<div class="address">
		<img src="http://placehold.it/100x100/000000">
		<br/>
		<br/>
		<br/>
		<br/>
		<h2>Phone Number:</h2>
		<br/>
		<p>(123) 456-7890</p>
		<p>(345) 678-9012</p>
	</div>

	<div class="address">
		<img src="http://placehold.it/100x100/000000">
		<br/>
		<br/>
		<br/>
		<br/>
		<h2>Email Address:</h2>
		<br/>
		<p>test@email.com</p>
		<p>email@test.com</p>
	</div>

	<div class="cta">
		<p>Feel free to contact us</p>
		<h3>Get in touch</h3>
		<p><em>Integer sollicitudin lingula  non enimsodales.</em></p>
	</div>

	<!-- End Component -->
	
</body>
</html>