<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<header>
	<img src="http://placehold.it/150x150" alt="icon">

	<p>Lorem ipsum dolor amet consectet</p>
	<h1>We Help You In Your Success</h1>
	<h2>Strong. Stable. Safe.</h2>

	<a href="#" class="myButton">Join Now!</a>


</header>
	

	<!-- End Component -->
	
</body>
</html>