/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

body{
    background:url("images/skyline.jpg");
}

header{
    text-align:center;
}

header p{
    padding-top:5%;
    text-transform:uppercase;
    color:white;
    font-family:sans-serif;
    letter-spacing:1px;
}

header h1{
    padding-top:1%;
    text-transform:uppercase;
    font-size:4em;
    font-weight:700;
    color:white;
    font-family:sans-serif;
    letter-spacing:-5px;
}

header h2{
    padding-top:1%;
    padding-bottom:6%;
    text-transform:uppercase;
    color:white;
    font-family:sans-serif;
    font-weight:600;
    letter-spacing:3px;
}

header img{
    margin-top:2%;
}

.myButton{
    background:orangered;
    color:white;
    text-decoration:none;
    padding:1% 2%;
    text-align:center;
    text-transform:uppercase;
}

.myButton:hover{
    background:darkorange;
}