<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
<div class="wrapper">
	<!-- Component -->
	<h1><img src="http://placehold.it/100x100/000000">FRESH NEWSLETTER</h1>

	<p>301 Some Street Name, city, state, country</p>

	<p><a href="#">www.yourwebsite.com</a> | <a href="#">email@website.com</a></p>

	<p>Sales and Support: +1(555) 555-5555
	<div class="socialicons">
		<img src="http://placehold.it/50x50/000000">
		<img src="http://placehold.it/50x50/000000">
		<img src="http://placehold.it/50x50/000000">
		<img src="http://placehold.it/50x50/000000">
		<img src="http://placehold.it/50x50/000000">
	</div></p>

	<p>You are currently signed up to Company's newsletters as: <a href="#">email@email.com</a>.
		<a href="#">To unsubscribe click here.</a></p>

	<p>Copyright 2010 Your Company Name.</p>
</div>
	

	<!-- End Component -->
	
</body>
</html>