<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>

		<section>
			<img src="#">
			<h2>Fresh Newsletter</h2>
		</section>

		<section>
			<address>301 some street name, city name, state, country</address>
			<span><a href="#">www.yourwebsite.com</a> | <a href="mailto:#">email@website.com</a></span>
			<p>Sales and Support: +1 (555) 555-5555</p>
		</section>

		<section>
			<p>You are currently signed up to Company's website as:
				<span><a href="mailto:#">email@email.com</a></span>.<a href="#">To unsubscribe click here</a></p>
			<p>Copyright 2010 Your Company Name.</p>
		</section>

	</article>
	

	<!-- End Component -->
	
</body>
</html>