<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>

		<section>
			<img src="#" alt="">
			<h2>Fresh Newsletter</h2>
		</section>

		<section>
			<address>301 some street name, city name, state, country</address>
			<p><a href="#">www.yourwebsite.com</a> | <a href="mailto:#">email@website.com</a></p>
			<p>Sales and Support: +1 (555) 555-5555</p>
		</section>

		<section>
			<p>You are currently signed up to Company's website as:
				<p><a href="mailto:#">email@email.com</a>.<a href="#">To unsubscribe click here</a></p>
			<p>Copyright 2010 Your Company Name.</p>
		</section>
	</section>
	

	<!-- End Component -->
	
</body>
</html>