/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* NEWSLETTER ======================================== */

section{
    background:#0066cc;
    width:55%;
    margin-top:3%;
    margin-left:5%;
    font-family:sans-serif;
    position:relative;
}

section:nth-child(1){
    padding-bottom:2%;
}

section section:nth-child(1) img{
    float:left;
    margin-top:12%;
    margin-right:5%;
}

section section:nth-child(1) h2:first-of-type{
    text-transform:uppercase;
    padding-top:15%;
    font-size:3em;
    font-weight:700;
    color:#333333;
    letter-spacing: 2px;
}

h2{
    text-transform:uppercase;
    color:#333333;
    letter-spacing:7px;
    font-weight:700;
}

section p{
    color:white;
    width:200%;
    font-size:1em;
}

a{
    color:#053b64;
}

address{
    color:white;
}

section:nth-child(4) p:last-child{
    margin-top:2%;
}

/*--SOCIAL ICONS--*/

section section:nth-child(3) img{
    padding-right:2%;
}

section section:nth-child(3){
    width:200px;
    position:absolute;
    top:140px;
    left:450px;
}