<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>

		<a href="#" class="left-arrow"><</a> <!--placeholder carrot-->
		<h2>Quis Nostrud</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur.</p>
		<a href="#" class="right-arrow">></a> <!--placeholder carrot-->

	</section>
	<!-- End Component -->
	
</body>
</html>