/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* ABOUT ======================================== */

body{
    background:url("images/about.jpg");
}

body::after{
    content:"";
    z-index:10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    opacity:.2;
}

h2{
    text-align:center;
    padding-top:15%;
    padding-bottom:2%;
    color:#ffffff;
    font-weight:700;
    font-size:2.5em;
    font-family:sans-serif;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}

p{
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #000;
    padding-bottom:5px;
    text-transform:uppercase;
    font-size:.9em;
}

.left-arrow{
    float:left;
    margin-top:19%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid white;
    border-bottom: 25px solid transparent
}

.right-arrow{
    float:right;
    margin-top:-4%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid white;
    border-bottom: 25px solid transparent;
}