<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<div class="header container">
		<a class="arrow arrow-left" role="button"></a>
		<span class="header-label"><h2>Lorem Ipsum</h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultricies urna in consectetur
			.</span>
		<a class="arrow arrow-right" role="button"></a>
	</div>
	

	<!-- End Component -->
	
</body>
</html>