<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<div class="grid">
			<div class="grid-m1"></div>
			<div class="grid-c1">
				<h3>BIG NEWS</h3>
				<p>Dolor ipsum lorem this is some newsworthy headline stuff</p>
				<br/>
				<h3>Join Us</h3>
				<a href="#"><img src="http://placehold.it/50x50/000000"></a>
				<a href="#"><img src="http://placehold.it/50x50/000000"></a>
				<a href="#"><img src="http://placehold.it/50x50/000000"></a>
			</div>
			<div class="grid-m2"></div>
			<div class="grid-c2">
				<h3>News</h3>
				<ul>
					<li><a href="#">Link 1</a></li>
				</ul>
				<ul>
					<li><a href="#">Link 2</a></li>
				</ul>
				<ul>
					<li><a href="#">Link 3</a></li>
				</ul>
				<ul>
					<li><a href="#">Link 4</a></li>
				</ul>
				<ul>
					<li><a href="#">Link 5</a></li>
				</ul>
			</div>
			<div class="grid-m3"></div>
			<div class="grid-c3">
				<h3>Contacts</h3>
				<p>123 Sesame Street, Charlotte</p>
				<p>(123) 456-7890</p>
				<p>test@email.com</p>
				<br/>
				<h3>Subscribe</h3>
				<div class="subscribe">
					<input type="text" placeholder="Username" id="username">
					<a href="#" class="myButton">Subscribe</a>
				</div>
			</div>
			<br style="clear:both" />
		</div>
	</footer>


	

	<!-- End Component -->
	
</body>
</html>