<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<footer>
		<section>
			<h2>Big News</h2>
			<p>Phasellus rhoncus quam nec turpis molestie, eleifend pellentesque eros pretium. Nunc a mattis
				magna. Aenean vitae tincidunt nisi. Suspendisse tincidunt finibus dictum. Ut purus velit,
				euismod ac imperdiet eget, dignissim nec orci. In nec pharetra urna, id laoreet ex. Nulla
				ut interdum enim.</p>
		</section>

		<section>
			<h3>Join With Us</h3>
			<img src="#" alt="Google+ icon">
			<img src="#" alt="Twitter icon">
			<img src="#" alt="Facebook icon">
		</section>

		<section>
			<h3>News</h3>
			<ul>
				<li><a href="">World</a></li>
				<li><a href="">Economy</a></li>
				<li><a href="">Politics</a></li>
				<li><a href="">Technology</a></li>
				<li><a href="">Sports</a></li>
				<li><a href="">Entertainment</a></li>
			</ul>
			<section>
				<ul>
					<li><a href="">Travel</a></li>
					<li><a href="">Health</a></li>
					<li><a href="">Fashion</a></li>
					<li><a href="">Weather</a></li>
					<li><a href="">Survey</a></li>
					<li><a href="">Video & Gallery</a></li>
				</ul>
			</section>
		</section>

		<section>
			<h3>Contact</h3>
			<address>263 Humble Cross, Houston, TX, United States</address>
			<p>+(01234) 566 788</p>
			<p>bignews@gmail.com</p>
			<p>bignews_support</p>
		</section>

		<section>
			<h3>Subscribe for Newsletter</h3>
			<form>
				<input type="text" name="email" placeholder="Enter your email here">
				<input type="submit" value="Subscribe">
			</form>
		</section>
	</footer>

	<hr>

	<footer>
		<p>Copyright 2015 by BigNews</p>
		<a href="#">Privacy Policy</a>
		<a href="#">Terms of Use</a>
	</footer>

	<!-- End Component -->
	
</body>
</html>