/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* FOOTER ======================================== */
/*

.grid {
    background-color:whitesmoke;
    width: 100%;
    margin: auto;
}

.grid-m1 {
    float: left;
    width: 24px;
    height: 1px;
}

.grid-c1 {
    float: left;
    width: 30%;
}

.grid-c1 p{
    width:30%;
}

.grid-m2 {
    float: left;
    width: 16px;
    height: 1px;
}

.grid-c2 {
    float: left;
    width: 30%;
}

.grid-m3 {
    float: left;
    width: 16px;
    height: 1px;
}

.grid-c3 {
    float: left;
    width: 30%;
}

.grid-c3 .subscribe{
    border:1px solid black;
    background-color:white;
    width:299px;
    height:32px;
}

h3{
    font-size:1.5em;
    margin-bottom:2%;
}

.myButton {
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:8px 32px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
    margin-left:2%;
}
.myButton:hover {
    background-color:#FF4500;
}
.myButton:active {
    position:relative;
    top:1px;
}
