/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* FOOTER ======================================== */

footer{
    width:90%;
    border:1px solid black;
    background:black;
    padding-left:5%;
    margin-left:5%;
    margin-bottom:.1%;
}

footer h3{
    color:white;
    padding-top:5%;

}

footer p{
    color:gray;
}

footer address{
    padding-top:2%;
    padding-bottom:2%;
    color:white;
}

a{
    color:gray;
}

footer section:nth-child(n+1){
    float:left;
    margin:0 20px 0 0;
    width:250px;
}
::after{
    content:"";
    display:table;
    clear:both;
}

h3{
    text-transform:uppercase;
}

img{
    margin-top:3%;
    border:1px solid gray;
}

footer form{
    border:3px solid gray;
    width:300px;
    margin-top:2%;
    margin-bottom:4%;
}

footer section:nth-child(5) h3{
    margin-top:20%;
}

input[type="text"]{
    background:black;
    font-style:italic;
    margin-left:10px;
    margin-top:3px;
}

input[type="submit"]{
    float:right;
    background:#666666;
    text-transform:uppercase;
    font-family:sans-serif;
    font-size:.75em;
    padding:5px 20px 5px 20px;
    text-align:center;
}

footer:nth-child(3){
    height:50px;
}

footer:nth-child(3) p{
    float:left;
}

footer:nth-child(3) a, .vertical{
    float:right;
}

footer:nth-child(3) .vertical{
    color:#666666;
    margin-left:3px;
    margin-right:3px;
    font-size:1.2em;
}