/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */



/* CALL TO ACTION ======================================== */

section{
    padding:5%;
}

h2{
    color:white;
    font-size:2.5em;
    font-family:sans-serif;
    padding-left:5%;
    position:relative;
    top:20%;
}

p{
    color:#996633;
    font-size:1.2em;
    font-family:sans-serif;
    padding-left:5%;
    position:relative;
    top:20%;
}

article:first-of-type{
    background:url("images/food1.jpg");
    border:1px solid black;
    max-width:580px;
    height:120px;
    margin-bottom:1%;
    position:relative;
}

article:nth-child(2), article:nth-child(3){
    border:1px solid black;
    width:283px;
    height:112px;
    float:left;
    position:relative;
}

article:nth-child(2)::after, article:nth-child(3)::after{
    content:"";
    display:table;
    clear:both;
}

article:nth-child(2){
    background: url("images/food2.jpg");
    margin-right:1%;
}

article:nth-child(3){
    background: url("images/food3.jpg");
}

article:first-of-type .cta-button img, article:nth-child(2) .cta-button img, article:nth-child(3) .cta-button img{
    background:#ff6633;
    padding:1%;
    border-radius:50%;
    position:absolute;
}

article:first-of-type .cta-button img{
    top:45px;
    left:510px;
}

article:nth-child(2) .cta-button img, article:nth-child(3) .cta-button img{
    top:45px;
    left:220px;
}