/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */



/* CALL TO ACTION ======================================== */

section{
    padding:5%;
}

h2{
    color:white;
    font-size:2.5em;
    padding-left:5%;
    position:relative;
    top:20%;
}

p{
    color:#996633;
    font-size:1.2em;
    padding-left:5%;
    position:relative;
    top:20%;
}

article:nth-child(1){
    background:url("images/food1.jpg");
    border:1px solid black;
    max-width:580px;
    height:120px;
    margin-bottom:1%;
}

article:nth-child(2), article:nth-child(3){
    border:1px solid black;
    width:283px;
    height:112px;
    float:left;
}

article:nth-child(2)::after, article:nth-child(3)::after{
    content:"";
    display:table;
    clear:both;
}

article:nth-child(2){
    background: url("images/food2.jpg");
    margin-right:1%;
}

article:nth-child(3){
    background: url("images/food3.jpg");
}

article:nth-child(1) .cta-button img, article:nth-child(2) .cta-button img, article:nth-child(3) .cta-button img{
    float:right;
    margin-right:8%;
    margin-top:-2%;
    background:#ff6633;
    padding:1%;
    border-radius:50%;
}

article:nth-child(1) .cta-button img:hover{
    background:black;
}

/*
.cta-button img{
    background:orange;
    border-radius:50%;
    padding:1%;
    float:right;
}

.cta-button img::after{
    content:"";
    display:table;
    clear:both;
}
*/