<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<div class="cta1">
		<img src="http://placehold.it/580x120/000000" alt="breakfast">
		<a href="#" class="myButton">Shop</a>
	</div>
	<div class="cta2">
		<img src="http://placehold.it/280x110/000000" alt="raw beef steaks">
		<a href="#" class="myButton2">Shop</a>

	</div>
	<div class="cta3">
		<img src="http://placehold.it/280x110/000000" alt="salad with shrimp">
		<a href="#" class="myButton3">Shop</a>

	</div>

	<!-- End Component -->
	
</body>
</html>