<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Collins</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<h2>Top 25 Side Dishes</h2>
			<p>Dolore ipsum commete dovitae</p>
			<p><a href="#" class="cta-button"><img src="images/shopping-cart.png"></a></p>
		</article>

		<article>
			<h2>Lunch</h2>
			<p>Dolore ipsum</p>
			<a href="#" class="cta-button"><img src="images/shopping-cart.png"></a>
		</article>

		<article>
			<h2>Dinner</h2>
			<p>Dolore ipsum</p>
			<a href="#" class="cta-button"><img src="images/shopping-cart.png"></a>
		</article>
	</section>
	<!-- End Component -->
	
</body>
</html>