/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */
/*
================================================================================
CSS RESET
================================================================================ */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;

}

/* HTML5 - Older browser support ======================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* BODY ======================================== */
body { line-height: 1; }

/* LISTS - Clear bullets ======================================== */
ol, ul { list-style: none; }

/* QUOTES ======================================== */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* TABLES ======================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MAIN STYLES ======================================== */
body {
    background: #5F9EA0;
    max-width: 90%;
    font-size: 1em;
    margin: 0 auto;
}

#wrapper {
    background-color: whitesmoke;
    width:91.666666666666%;
    margin: 0 auto;
    overflow: hidden;
}

strong{
    font-weight:bold;
    text-transform:uppercase;
}

/* HEADER ======================================== */

header{
    font-family: 'Amatic SC', cursive;
    color: #000000;
    background-color:white;
}

header img{
    background-color:black;
    border: .5em solid black;
    width:25%;
    border-radius:15em;
    margin-top:1%;
    margin-left:3%;
}

header p{
    float:left;
    font-family:sans-serif;
    width:60%;
    margin-top:10%;
    margin-left:5%;
}

/* FONTS ======================================== */

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    text-align:center;
    padding-top:2%;
    color:#000000;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size:2em;
    color: #000000;
    padding-bottom:2%;
    clear:both;
}

/* BLOG SECTION ======================================== */

section {
    width: 90%;
    padding-bottom:1%;
    padding-left:2%;
}

section h2{
}

section img{
    padding-bottom:2%;
    max-width:60%;
}

section p{
    padding-bottom:2%;
}

hr{
    margin-top:5%;
    margin-bottom: 3%;
    background-color:#000000;
}

#first{
    padding-top:3%;
}

/* BUTTON ======================================== */

.myButton {
    box-shadow: 0 10px 14px -7px #3e7327;
    background-color:#77b55a;
    border-radius:6px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#72b352;
}
.myButton:active {
    position:relative;
    top:1px;
}

.headerImage img{
    width:30%;
    padding-top:1%;
    padding-bottom:2%;
}